<style type="text/css">
  /* all parallax top and bottom */
  .parallax{
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
  }
  .caption {
      background:rgba(255,255,255,0.4);
      /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
      position: absolute;
      left: 21rem;
      margin-top: 7rem;
      width: 50%;
      text-align: center;
      color: #000;
  }
  .caption h2 {
      color: white;
      font-family: 'Poiret One', cursive;font-weight:bold;
      text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
      margin-bottom: .9rem;
  }
  .caption a{
      font-size: 18px;
  }
  
  /* wave */
  .box-wave {
      width: 350px;
      height: 500px;
      border-radius: 5px;
      box-shadow: 0 2px 30px rgba(black, .2);
      background: lighten(#f0f4c3, 10%);
      position: relative;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
    }
    
    .wave {
      opacity: .4;
      position: absolute;
      top: 3%;
      left: 50%;
      background: #0af;
      width: 500px;
      height: 500px;
      margin-left: -250px;
      margin-top: -250px;
      transform-origin: 50% 48%;
      border-radius: 43%;
      animation: drift 3000ms infinite linear;
    }
    
    .wave.-three {
      animation: drift 5000ms infinite linear;
    }
    
    .wave.-two {
      animation: drift 7000ms infinite linear;
      opacity: .1;
      background: yellow;
    }
    
    .box-wave:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
      z-index: -1;
      transform: translate3d(0, 0, 0);
    }
    
    .title-wave {
      position: absolute;
      left: 1rem;
      top: 0;
      width: 100%;
      z-index: 1;
      line-height: 300px;
      text-align: left;
      transform: translate3d(0, 0, 0);
      color: white;
      font-weight: bold;;
      text-transform: uppercase;
      font-family: 'Poiret One', cursive;
      letter-spacing: .4em;
      font-size: 14px;
      text-shadow: 0 1px 0 rgba(black, .1);
    }
    .titl-wave a{
        margin-left: 2rem;
    }
  
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
  
  
  @media only screen and (max-device-width: 812px) {
    .parallax {
        background-attachment: scroll;
    }
    .caption {
        position: absolute;
        left: 0;
        margin-top: 2rem;
        width: 100%;
        text-align: center;
        color: #000;
    }
    .caption h2 {
        color: white;
        font-family: 'Poiret One', cursive;font-weight:bold;
        text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
        margin-bottom: .9rem;
        font-size:14px;
    }
    .caption a{
        font-size: 12px;
    }
  
    .waves {
            height: 40px;
            min-height: 40px;
      }
  }
  </style>



{% assign WebDevelopment = site.data.webdevelopers[page.contact] %}

  <div class="jumbotron jumbotron-fluid jumbotron-content" style="background-image:url('{{site.url}}{{page.image}}');">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-end">
            <div class="col-md-6 col-xs-12 col-sm-12">
                <h1 class="display-4 text-right" style="margin-left:8rem;margin-top:9rem;">{{page.title}}</h1>
                <h3 class="blockquote-footer text-danger" style="font-family: Reey Regular;font-size:31px;" v-html="blockquoteHeader">{{page.blockquote}}</h3>
            </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="underline mt-3 mb-2"></h1>  

  <div class="container">
    <div class="row justify-content-center">
      <div style="width: 100%; height: auto !important; clear: both; text-align: center;" class="google-auto-placed">
      </div>
        <div class="col-md-6 col-xs-12 col-sm-12">
            <div class="polaroid">
              <img src="{{site.url}}{{page.vector1}}" alt="" class="img-responsive mt-3">
                <div class="polaroid-body">
                    <h2>{{page.tags1}}.</h2>
                </div>	
            </div>
        </div>
    </div>
  </div>

  <h1 class="underline mb-2 mt-2"></h1>

<div class="parallax" style="background-image: url('{{site.url}}{{page.parallax}}');
">

  <div class="caption">
    <br/><br/>
    <h2> {{page.parallax-tags}} : </h2>
      <a href="https://wa.me/{{WebDevelopment.whatsapp}}?text=Hai%20kak%20saya%20membutuhkan%20jasa%20web%20development" class="btn btn-primary text-white">whatsap</a>
      <a href="https://instagram.com/{{WebDevelopment.instagram}}" class="btn btn-primary text-white">Instagram</a>
    <br/><br/>
  </div>

</div>


<div class="container">
  
  <div style="width: 100%; height: auto !important; clear: both; text-align: center;" class="google-auto-placed">
  </div>

    <div class="row justify-content-center">
  
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- container on panel-body -->
            <div class="container">
              <!-- row content1 -->
              <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-12">
                  <img v-bind:src="imageVectorCard" src="{{site.url}}{{page.vector2}}" alt="" class="float-left img-responsive"  width="800" height="400" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; color: rgb(255,228,181);border-radius:0%;"/>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 ml-2 mt-2">
                  <h1 class="underline text-center">
                    {{page.title}}
                  </h1>
                    <p class="ml-2">
                      {{page.tags2}}
                    </p>
                    <img src="{{site.url}}{{page.vector3}}" alt="">
                </div>
                <!-- <div class="row justify-content-end">
                  <img src="{{site.url}}/assets/images/project/codesyariah/vector4.gif" alt="">
                </div> -->
              </div>
              <!-- row content1 end -->
              <br>
              <h1 class="underline mb-5 mt-2"></h1>

                    <div class="container">
                        <h1 class="text-center mt-2 mb-3">
                            List Project <span style="font-family:Reey Regular;color:crimson;">{{site.name}}</span>
                        </h1>
                        
                            <div class="d-flex justify-content-center">
                                <div class="row">
                                    {% for data in site.projects %}
                                        {% assign ProjectData = site.data.projects[data.data] %}             
                                            <div class="col-md-4 col-xs-12 col-sm-12">
                                                <div class="card-pricing">
                                                    <a class="img-card-pricing" href="{{site.url}}/{{ data.img_path }}"  data-toggle="lightbox" data-gallery="projects">
                                                            <img src="{{ data.img_path }}" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; color: rgb(255,228,181);border-radius:0%;"/>
                                                    </a>
                                                    
                                                    <div class="card-content-pricing">
                                                        <h4 class="card-title">{{data.title}}</h4>                              
                                                                <blockquote class="blockquote-footer" style='color:lightskyblue;'>
                                                                    {{ data.tagline }}
                                                                </blockquote>
                                                                <p class="">
                                                                    {{ data.content | strip_html | strip_newlines | truncate: 156 }}
                                                                </p>
                                                    </div>
                                                    
                                                    <div class="card-read-more-pricing">
                                                        <a href="{{site.url}}/{{page.type}}/{{ ProjectData.links | slugify }}" class="btn btn-link btn-block">
                                                            Lihat Project
                                                        </a>
                                                    </div>
                                
                                                </div>
                                            </div>                
                                    {% endfor %}           
                            </div>
                        </div>

                    </div>

              </div>

            <!-- end container panel-body -->
          </div>
        </div>
      </div>
  
    </div>
   
  </div>
  
  <br>
  
  

<!-- <section class="wrapper-pricing">
    <div class="container-fostrap">
           
       <div>
            <img src="{{site.url}}/{{site.favicon}}" class="fostrap-logo"/>
            <h1 class="heading">
                Welcome in MyProject
            </h1>
        </div><br/><br/>

        <div class="content-pricing">
            <div class="container">
                <div class="row">

{% for data in site.projects %}
       {% assign ProjectData = site.data.projects[data.data] %}


                    <div class="col-md-4 col-xs-12 col-sm-4">
                        <div class="card-pricing">

                            <a class="img-card-pricing" href="{{site.url}}/{{ data.img_path }}">
                            <img src="{{ data.img_path }}" />
                          </a>
                            <div class="card-content-pricing">
                            <h4 class="card-title">{{data.title}}</h4>
                                                           
                                <blockquote style='color:lightskyblue;'>
                                    {{ data.tagline }}
                                </blockquote>

                                <p class="">
                                    {{ data.content | strip_html | strip_newlines | truncate: 156 }}
                                </p>

                            </div>
                            <div class="card-read-more-pricing">
                                <a href="{{site.url}}/project-{{ ProjectData.links | slugify }}" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>

                        </div>
                    </div> <br/>                 
{% endfor %}         
                    
                </div>
            </div>
        </div>
    </div>
</section> -->


<script type="text/javascript">
  const obj = {
      'sayHeloGif' : '{{page.sayHeloGif}}',
      'titleHeader' : '{{page.header}}',
      'blockquoteHeader' : '{{page.blockquote}}',
      'cardVector' : '{{site.url}}{{page.vector}}',
      'tagsParallax' : '{{page.parallax-tags}} ',
  };
</script>
