{% assign ProjectData = site.data.projects[data.data] %}

<section class="wrapper-pricing">
    <div class="container-fostrap">
           
       <div>
            <img src="{{site.url}}/{{site.favicon}}" class="fostrap-logo"/>
            <h1 class="heading">
                Welcome in MyRoom
            </h1>
        </div><br/><br/>

        <div class="content-pricing">
            <div class="container">
                <div class="row">

{% for data in site.projects %}
                    <div class="col-xs-12 col-sm-4">
                        <div class="card-pricing">

                            <a class="img-card-pricing" href="{{site.url}}/{{ data.img_path }}">
                            <img src="{{ data.img_path }}" />
                          </a>
                            <div class="card-content-pricing">
                            <h4 class="card-title">{{data.title}}</h4>
                                                           
                                <blockquote style='color:lightskyblue;'>
                                    {{ data.tagline }}
                                </blockquote>

                                <p class="">
                                    {{ data.content | strip_html | strip_newlines }}
                                </p>

                            </div>
                            <div class="card-read-more-pricing">
                                <a href="{{site.url}}/project-{{ ProjectData.links | slugify }}" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>

                        </div>
                    </div>                  
{% endfor %}         
                    
                </div>
            </div>
        </div>
    </div>
</section>
