{% assign ProjectData = site.data.projects[data.data] %}
<section class="wrapper">
    <div class="container-fostrap">

        <div>
            <img src="{{site.url}}/{{site.favicon}}" class="fostrap-logo"/>
            <h1 class="heading">
                Welcome in MyProjects
            </h1>
        </div><br/><br/>

        {% for data in site.projects %}
        <div class="content">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-4">
                        <div class="card">

                            <a class="img-card" href="src="{{site.url}}/{{ data.img_path }}"">
                                <img src="src="{{site.url}}/{{data.img_path }}"" />
                            </a>

                            <div class="card-content">
                                <h4 class="card-title">{{data.title}}</h4>

                                <blockquote style='color:lightskyblue;'>
                                    {{ data.tagline }}
                                </blockquote>

                            <article class="article-post">
                                {{ data.content | strip_html | strip_newlines }}
                            </article>
                            </div>

                            <div class="card-read-more">
                                <a href="{{site.url}}/project-{{ ProjectData.links | slugify }}">
                                    Read More
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</section>
