<div style="width: 100%;" class="table-responsive">
            <table id="myTable" class="hover table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Number Surah</th>
                      <th>Number Ayah</th>
                      <th>Type</th>
                      <th>Place</th>
                      <th>Recitations</th>
                      <th>Verses</th>
                  </tr>
              </thead>
              <tbody id="result"> </tbody>	
            </table>
        </div>