<div class="parallax" style="background-image: url('{{site.url}}{{myroom.bg-image.tujuh}}');
">

  <div class="caption">
    <br/><br/>
    <h2> {{myroom.tags.dua}} : </h2>
      <a href="https://wa.me/{{WebDevelopment.whatsapp}}?text=Hai%20kak%20saya%20membutuhkan%20jasa%20web%20development" class="btn btn-primary text-white">whatsap</a>
      <a href="https://instagram.com/{{WebDevelopment.instagram}}" class="btn btn-primary text-white">Instagram</a>
    <br/><br/>
  </div>

</div>

<h1 class="underline mb-2 mt-2"></h1>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6 col-xs-12 col-sm-12">
        <div class="polaroid">
          <img src="{{site.url}}{{myroom.vector.satu}}" alt="" class="img-responsive mt-3">
            <div class="polaroid-body">
                <h2>{{myroom.tags.satu}}.</h2>
            </div>	
        </div>

      </div>
  </div>
</div>

<h1 class="underline mb-2 mt-2"></h1>