<div class="parallax" style="background-image: url('{{site.url}}{{myroom.bg-image.sembilan}}');
">

  <div class="caption">
    <br/><br/>
    <h2> {{myroom.tags.enam}}</h2>
    <br/><br/>
  </div>

</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div style="width: 100%; height: auto !important; clear: both; text-align: center;" class="google-auto-placed"></div>
      <div id="mys-wrapper" class="mys-wrapper"></div>
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- container on panel-body -->
          <div class="container">
            <!-- row content1 -->
            <div class="row">
              <div class="col-md-4">
                <img src="{{site.url}}{{myroom.vector.enam}}" alt="" class="float-left img-responsive" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; color: rgb(255,228,181);border-radius:0%;"/>
              </div>
              <div class="col-md-6 col-xs-12 col-sm-12 ml-2 mt-2">
                <h1 class="text-center">
                  {{myroom.content.header_panel2}} <br>
                </h1>
                <hr>
                  <p class="ml-1">
                     {{myroom.tags.tujuh}}.
                     <br>
                  </p>
                  <img src="{{site.url}}{{myroom.vector.tujuh}}" alt="">
              </div>

            </div>
            <!-- row content1 end -->

            <h1 class="underline text-center mt-3 mb-4"></h1>

            <br>
            <!-- row content 2 -->
            <div class="row">
              <div class="col-md-6 col-xs-12 col-sm-12 mt-2">
                <h1 class="text-center">
                  {{myroom.content.header_panel3}} <br>
                </h1>
                <hr>
                <p class="ml-3 mr-3">
                  {{myroom.tags.delapan}}.
               </p>
              </div>
              <div class="col-md-6 col-xs-12 col-sm-12">
                <img src="{{site.url}}{{myroom.vector.lima}}" alt="" class="float-left img-responsive" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; color: rgb(255,228,181);border-radius:0%;"/>                 
              </div>
            </div>
            
            <!-- row content2 -->
            <br>

            <div class="row justify-content-center">
              <div class="col-md-12 col-xs-12 col-sm-12 mt-3">
                <h1 class="text-center">Pilih Provinsi</h1>
                <div class="input-group mb-3">
                  <select class="custom-select" id="select-provinsi" name="provinsi">
                      <!-- <option selected>Choose...</option> -->                       
                  </select>
                    <div class="input-group-append">
                        <button id="pilih-provinsi" class="btn btn-dark">Check</button>
                    </div>
                </div>

                <div id="resultError">
                  <div class="alert alert-danger alert-dismissible fade show resut-error" role="alert">
                    Silahkan Pilih Provinsi terlebih dahulu
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                </div>

              </div>
            </div>
            <!-- row content2 end -->

            <div class="row justify-content-center">
                <div class="col-10 col-xs-12 col-sm-12">
                   <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 mt-3">
                   <div id="result-exp"></div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                  <canvas id="chartGender"></canvas>
                  <canvas style="margin-top: -5rem;" id="chartUsia"></canvas>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                  
                </div>
            </div>
          </div>

          <br>

          <h1 class="underline mb-2 mt-2"></h1>

          <!-- end container panel-body -->
        </div>
        
      </div>
    </div>

  </div>
</div>

<br>

<hr>
