<style type="text/css">
  /* all parallax top and bottom */
  .parallax{
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
  }
  .caption {
      background:rgba(255,255,255,0.4);
      /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
      position: absolute;
      left: 21rem;
      margin-top: 7rem;
      width: 50%;
      text-align: center;
      color: #000;
  }
  .caption h2 {
      color: white;
      font-family: 'Poiret One', cursive;font-weight:bold;
      text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
      margin-bottom: .9rem;
  }
  .caption a{
      font-size: 18px;
  }
  
  /* wave */
  .box-wave {
      width: 350px;
      height: 500px;
      border-radius: 5px;
      box-shadow: 0 2px 30px rgba(black, .2);
      background: lighten(#f0f4c3, 10%);
      position: relative;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
    }
    
    .wave {
      opacity: .4;
      position: absolute;
      top: 3%;
      left: 50%;
      background: #0af;
      width: 500px;
      height: 500px;
      margin-left: -250px;
      margin-top: -250px;
      transform-origin: 50% 48%;
      border-radius: 43%;
      animation: drift 3000ms infinite linear;
    }
    
    .wave.-three {
      animation: drift 5000ms infinite linear;
    }
    
    .wave.-two {
      animation: drift 7000ms infinite linear;
      opacity: .1;
      background: yellow;
    }
    
    .box-wave:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
      z-index: -1;
      transform: translate3d(0, 0, 0);
    }
    
    .title-wave {
      position: absolute;
      left: 1rem;
      top: 0;
      width: 100%;
      z-index: 1;
      line-height: 300px;
      text-align: left;
      transform: translate3d(0, 0, 0);
      color: white;
      font-weight: bold;;
      text-transform: uppercase;
      font-family: 'Poiret One', cursive;
      letter-spacing: .4em;
      font-size: 14px;
      text-shadow: 0 1px 0 rgba(black, .1);
    }
    .titl-wave a{
        margin-left: 2rem;
    }
  
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
  
  
  @media only screen and (max-device-width: 812px) {
    .parallax {
        background-attachment: scroll;
    }
    .caption {
        position: absolute;
        left: 0;
        margin-top: 2rem;
        width: 100%;
        text-align: center;
        color: #000;
    }
    .caption h2 {
        color: white;
        font-family: 'Poiret One', cursive;font-weight:bold;
        text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
        margin-bottom: .9rem;
        font-size:14px;
    }
    .caption a{
        font-size: 12px;
    }
  
    .waves {
            height: 40px;
            min-height: 40px;
      }
  }
  </style>

{% assign myroom = site.data.myrooms[page.label] %}
{% assign WebDevelopment = site.data.myroom[page.contact] %} 
<div class="jumbotron jumbotron-fluid jumbotron-content" style="background-image:url('{{site.url}}{{myroom.bg-image.delapan}}');">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-end">
            <div class="col-md-12">
                <h1 class="display-4" style="margin-left:.7rem;margin-top:8rem;">{{myroom.content.header_title}}</h1>
                <h3 class="blockquote-footer text-danger" style="font-family: Reey Regular;font-size:31px;" v-html="blockquoteHeader">{{myroom.content.heade_tag}}</h3>
            </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="underline mt-5 mb-2"></h1>  

  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12">
        <h1 class="text-success text-center" style="font-family:Reey Regular;">Sang Pembeda</h1>
        <h4 class="text-center">Pilih Surah Quran</h4>
        <div class="input-group mb-3">
          <select class="custom-select" id="select-surah" name="surah">
              <!-- <option selected>Choose...</option> -->                       
          </select>
            <div class="input-group-append">
                <button id="pilih-surah" class="btn btn-dark">Enter</button>
            </div>
        </div>
      </div>
      <div class="col-md-12">
        <div style="width: 100%;" class="table-responsive">
            <table id="myTable" class="hover table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Number Surah</th>
                      <th>Number Ayah</th>
                      <th>Type</th>
                      <th>Place</th>
                      <th>Recitations</th>
                      <th>Verses</th>
                  </tr>
              </thead>
              <tbody id="result"> </tbody>	
            </table>
        </div>
      </div>

      <div style="width: 100%; height: auto !important; clear: both; text-align: center;" class="google-auto-placed">
      </div>

    </div>
  </div>

  <h1 class="underline mb-5 mt-3"></h1>

  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="polaroid">
            <img src="{{site.url}}{{myroom.vector.tiga}}" alt="" class="img-responsive mt-3">
              <div class="polaroid-body">
                  <h2>{{myroom.tags.tiga}}.</h2>
              </div>	
          </div>
  
        </div>
    </div>
  </div>
  
  <h1 class="underline mb-2 mt-2"></h1>
  

    <!-- Modal -->
    <div class="modal fade" id="surahModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabelSurah"> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-body-surah">
          </div>

        </div>
      </div>
    </div>

  <div class="parallax" style="background-image: url('{{site.url}}{{myroom.bg-image.tujuh}}');
">

  <div class="caption">
    <br/><br/>
    <h2> {{myroom.tags.dua}} : </h2>
      <a href="https://wa.me/{{WebDevelopment.whatsapp}}?text=Hai%20kak%20saya%20membutuhkan%20jasa%20web%20development" class="btn btn-primary text-white">whatsap</a>
      <a href="https://instagram.com/{{WebDevelopment.instagram}}" class="btn btn-primary text-white">Instagram</a>
    <br/><br/>
  </div>

</div>

<h1 class="underline mb-2 mt-2"></h1>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="polaroid">
          <img src="{{site.url}}{{myroom.vector.satu}}" alt="" class="img-responsive mt-3">
            <div class="polaroid-body">
                <h2>{{myroom.tags.satu}}.</h2>
            </div>	
        </div>

      </div>
  </div>
</div>

<h1 class="underline mb-2 mt-2"></h1>


<div class="parallax" style="background-image: url('{{site.url}}{{myroom.bg-image.enam}}');
">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class='box-wave'>
          <div class='wave -one'></div>
          <div class='wave -two'></div>
          <div class='wave -three'></div>
          <div class='title-wave'>
            <h4>
              {{myroom.tags.empat}}.
            </h4>
          </div>
        </div>
          <br/><br/>
      </div>
    </div>

</div>

</div>


  <audio id="crowded" loop>
      <source src="{{site.url}}/assets/crowded.mp3" type="audio/mpeg" >
    </audio>

    <audio id="booring" loop>
      <source src="{{site.url}}/assets/booring.mp3" type="audio/mpeg" >
    </audio>

<!-- Modal pertanyaan quiz-->
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Javascript Quiz</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="jawaban">Jawab Pertanyaan berikut <br/>
            <span class="text-primary"><b>Sapi betina adalah surah ke -  ?  berapa</b></span>
          </label>
          <input type="number" autocomplete="off" autofocus="on" class="form-control" id="jawaban" name="ask" placeholder="Isikan Jawaban Anda" autofocus>
          <small id="emailHelp" class="form-text text-muted">
            Isi jawaban tersebut dengan benar . <br/>
            Selamat menjawab
            <span class="text-danger">Jangan di cancel!</span>
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button id="submit" class="btn btn-primary">Jawab</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div style="width: 100%; height: auto !important; clear: both; text-align: center;" class="google-auto-placed"></div>
      <div id="mys-wrapper" class="mys-wrapper"></div>
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- container on panel-body -->
          <div class="container">
            <!-- row content1 -->
            <div class="row">
              <div class="col-md-4">
                <img src="{{site.url}}{{myroom.bg-image.lima}}" alt="" class="float-left img-responsive" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; color: rgb(255,228,181);border-radius:0%;"/>
              </div>
              <div class="col-md-6 ml-5 mt-5">
                <h1 class="text-center">
                  {{myroom.content.header_panel}} <br>
                </h1>
                <hr>
                  <p class="ml-5">
                     {{myroom.tags.lima}}.
                  </p>
                  <img src="{{site.url}}{{myroom.vector.empat}}" alt="">
              </div>

            </div>
            <!-- row content1 end -->
            <br>

            <h1 class="underline text-center mt-2 mb-4"></h1>
            <!-- row content2 -->
            <div class="row justify-content-center">
              <div class="col-md-12 col-xs-12 col-sm-12 mb-5">
                  <h1 style="color:salmon;">{{myroom.content.header_title}}  </h1>
              </div>
              <br> <br>
              <!-- looping card nya -->

              <div class="content-pricing">
                <div class="container">
                    <div class="row">
    
    {% for myroom in site.myrooms %}
                        <div class="col-xs-12 col-sm-4">
                            <div class="card-pricing">
    
                                <a class="img-card-pricing" href="{{site.url}}/{{myroom.img_path}}">
                                <img src="{{myroom.img_path}}" />
                              </a>
                                <div class="card-content-pricing">
                                    <h4 class="card-title-pricing">
                                        <a href="" data-toggle="modal" data-target="#{{myroom.modal}}"> {{myroom.title}}
                                      </a>
                                    </h4>
                                    <p class="">
                                        {{ myroom.content | strip_html | strip_newlines | truncate: 156 }}
                                    </p>
                                </div>
                                <div class="card-read-more-pricing">
                                    <a href="" data-toggle="modal" data-target="#{{myroom.modal}}" class="btn btn-link btn-block">
                                        Read More
                                    </a>
                                </div>
    
                            </div>
                        </div>
    
                        <!-- Modal -->
                            <div class="modal fade" id="{{myroom.modal}}" tabindex="-1" role="dialog" aria-labelledby="{{myroom.modal}}Title" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="{{myroom.modal}}Title">{{ myroom.title }} <br/> 
                                      <span style="font-size:8px;" class="text-muted d-block mt-1">{{ myroom.date | date: '%d %B %Y' }} · {% include meta-read-time.html %} <br/> <b>by: {{ author.nama_lengkap }}</b></span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                  <article class="article-post">
                                    {{ myroom.content }}
                                  {% if myroom.video_path %}
                                  <div class="embed-responsive embed-responsive-16by9">   
                                  <video controls="controls">
                                  <source type="video/mp4" src="{{myroom.video_path.vid1}}"></source>
                                  </video>
                                  </div>
                                  {% endif %}
                                  </article>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                    {% if myroom.title == "Untuk Calon Istriku Inshaallah" %}   
                            {% break %}
                    {% endif %}             
            {% endfor %}                                   
                      </div>
                  </div>
               </div>

              <!-- end looping card -->

            </div>
            <!-- row content2 end -->
          </div>
          <!-- end container panel-body -->
        </div>
      </div>
    </div>

  </div>
</div>

<br><br>
<hr>

<div class="parallax" style="background-image: url('{{site.url}}{{myroom.bg-image.sembilan}}');
">

  <div class="caption">
    <br/><br/>
    <h2> {{myroom.tags.enam}}</h2>
    <br/><br/>
  </div>

</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div style="width: 100%; height: auto !important; clear: both; text-align: center;" class="google-auto-placed"></div>
      <div id="mys-wrapper" class="mys-wrapper"></div>
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- container on panel-body -->
          <div class="container">
            <!-- row content1 -->
            <div class="row">
              <div class="col-md-4">
                <img src="{{site.url}}{{myroom.vector.enam}}" alt="" class="float-left img-responsive" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; color: rgb(255,228,181);border-radius:0%;"/>
              </div>
              <div class="col-md-6 ml-5 mt-5">
                <h1 class="text-center">
                  {{myroom.content.header_panel2}} <br>
                </h1>
                <hr>
                  <p class="ml-5">
                     {{myroom.tags.tujuh}}.
                     <br>
                  </p>
                  <img src="{{site.url}}{{myroom.vector.tujuh}}" alt="">
              </div>

            </div>
            <!-- row content1 end -->
            <br>
            <!-- row content 2 -->
            <div class="row">
              <div class="col-md-6 mt-5">
                <h1 class="text-center">
                  {{myroom.content.header_panel3}} <br>
                </h1>
                <hr>
                <p class="ml-3 mr-3">
                  {{myroom.tags.delapan}}.
               </p>
              </div>
              <div class="col-md-6">
                <img src="{{site.url}}{{myroom.vector.lima}}" alt="" class="float-left img-responsive" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; color: rgb(255,228,181);border-radius:0%;"/>                 
              </div>
            </div>
            
            <!-- row content2 -->
            <br>

            <h1 class="underline text-center mt-5 mb-4"></h1>

            <div class="row justify-content-center">
              <div class="col-md-12 col-xs-12 col-sm-12 mt-5">
                <h1 class="text-center">Pilih Provinsi</h1>
                <div class="input-group mb-3">
                  <select class="custom-select" id="select-provinsi" name="provinsi">
                      <!-- <option selected>Choose...</option> -->                       
                  </select>
                    <div class="input-group-append">
                        <button id="pilih-provinsi" class="btn btn-dark">Check</button>
                    </div>
                </div>

                <div id="resultError"></div>

              </div>
            </div>
            <!-- row content2 end -->

            <div class="row justify-content-center">
                <div class="col-8">
                   <canvas id="myChart"></canvas>
                   <div class="mt-3 mb-2" id="result-exp"></div>
                </div>
            </div>
          </div>

          <br>

          <h1 class="underline mb-2 mt-5"></h1>

          <!-- end container panel-body -->
        </div>
  
      </div>
    </div>

  </div>
</div>



<!-- <section class="wrapper-pricing">
    <div class="container-fostrap">
           
       <div>
            <img src="{{site.url}}/{{site.favicon}}" class="fostrap-logo"/>
            <h1 class="heading">
                Welcome in MyRoom
            </h1>
        </div><br/><br/>

        <div class="content-pricing">
            <div class="container">
                <div class="row">

{% for myroom in site.myrooms %}

                    <div class="col-xs-12 col-sm-4">
                        <div class="card-pricing">

                            <a class="img-card-pricing" href="{{site.url}}/{{myroom.img_path}}">
                            <img src="{{myroom.img_path}}" />
                          </a>
                            <div class="card-content-pricing">
                                <h4 class="card-title-pricing">
                                    <a href="" data-toggle="modal" data-target="#{{myroom.modal}}"> {{myroom.title}}
                                  </a>
                                </h4>
                                <p class="">
                                    {{ myroom.content | strip_html | strip_newlines | truncate: 156 }}
                                </p>
                            </div>
                            <div class="card-read-more-pricing">
                                <a href="" data-toggle="modal" data-target="#{{myroom.modal}}" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>

                        </div>
                    </div>

<div class="modal fade" id="{{myroom.modal}}" tabindex="-1" role="dialog" aria-labelledby="{{myroom.modal}}Title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{myroom.modal}}Title">{{ myroom.title }} <br/> 
          <span style="font-size:8px;" class="text-muted d-block mt-1">{{ myroom.date | date: '%d %B %Y' }} · {% include meta-read-time.html %} <br/> <b>by: {{ author.nama_lengkap }}</b></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <article class="article-post">
        {{ myroom.content }}
      {% if myroom.video_path %}
      <div class="embed-responsive embed-responsive-16by9">   
      <video controls="controls">
      <source type="video/mp4" src="{{myroom.video_path.vid1}}"></source>
      </video>
      </div>
      {% endif %}
      </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

                    
{% endfor %}         
                    
                </div>
            </div>
        </div>
    </div>
</section> 
-->