<div class="jumbotron jumbotron-fluid jumbotron-content" style="background-image:url('{{site.url}}{{myroom.bg-image.delapan}}');">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-end">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <h1 class="display-4" style="margin-left:.7rem;margin-top:8rem;">{{myroom.content.header_title}}</h1>
                <h3 class="blockquote-footer text-danger" style="font-family: Reey Regular;font-size:31px;" v-html="blockquoteHeader">{{myroom.content.heade_tag}}</h3>
            </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="underline mt-5 mb-2"></h1>  