<style type="text/css">
html {
  scroll-behavior: smooth;
}
.loader{
  margin-top: -3rem;
  margin-left: -9rem;
}
.loader img{
  width: 400px;
  height: 250px;
}

.loader2{
  margin-top: 3rem;
  margin-left: 3rem;  
}

.loader2 img{
  width: 80px;
  height: 50px;
}

.pagination{
  margin-top: -2rem;
}

.disabled{
  cursor: not-allowed !important;
}

.page-item{
  cursor: pointer;
}
</style>


  <div class="container">

    <div class="row justify-content-center">

            <div class="col-12 col-xs-12 col-sm-12">
                
              <h1 class="text-success text-center" style="font-family:Reey Regular;">Sang Pembeda</h1>

              <p class="mt-2 mb-2 text-primary text-center">Baca Quran Online</p>

              <h4 class="text-center">Pilih Surah Quran</h4>

                <hr>    
                
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <!-- input surah -->
                            <div class="input-group mb-3">
                            <select class="custom-select" id="select-surah" name="surah" style="width:50%;">
                                      <!-- <option selected>Choose...</option> -->          
                            </select>
                            
                        </div>
                    </div>

                        <!-- input ayat -->
                        <div class="col-md-3">
                            
                            <div class="input-group mb-3">
                            <select class="custom-select" id="select-ayat" name="ayat" style="width:30%;">
                                      <!-- <option selected>Choose...</option> -->          
                            </select>
                                    
                            <div class="input-group-append">
                                <button id="enter-quran" class="btn btn-dark btn-sm">Enter</button>
                            </div>
                            </div>

                        </div>

                        <!-- loader -->

                        <div class="col-md-3">
                            
                            <div id="loader">
                                <img src="{{site.url}}/assets/images/loading2.gif" class="img-responsive" width="70" height="30">
                            </div>

                        </div>


                    </div>

                </div>  

              <div id="error-quran" style="width: 85%; margin-left: -.7rem;"></div>    

                <div class="card card-quran">
                  <div class="card-header header-quran">
                    Featured
                  </div>
                  <div class="card-body quran-body">

                    <div id="view-surah"></div>
                    
                    <div id="view-ayat"></div>

                  </div>
                </div>


      <div style="width: 100%; height: auto !important; clear: both; text-align: center;" class="google-auto-placed">
      </div>

    </div>
  </div>

  <h1 class="underline mb-3 mt-3"></h1>

  <div class="container">
    <div class="row justify-content-start">
      <div class="col-md-4 col-xs-12 col-sm-12">
        <div class="polaroid">
          <img src="{{site.url}}{{myroom.vector.delapan}}" alt="" class="img-responsive mt-3">
            <div class="polaroid-body" id="jadwal-shalat">
                <h5 class="mt-2 mb-2 text-center text-dark" id="kota"></h5>
                <h6 class="mb-2 text-center text-danger blockquote-footer" id="now2"></h6>
                <h6 class="mb-2 text-center text-danger" id="now1"></h6>
                  <p id="tanggal" class="mb-3 underline text-success text-center"></p>
                  <small id="result-time" class="mt-2 text-danger text-center"></small>
                <ul class="list-group list-group-flush" id="waktu-adzan">
                </ul>            
            </div>  
        </div>
      </div>

      <div class="col-md-6 col-xs-12 col-sm-12 mt-2 ml-2">
        <h1 class="underline text-center" style="font-family: 'Poiret One', cursive;">{{myroom.dalil.judul}}</h1>
        <p class="text-center" style="font-weight: 500;">
            {{myroom.dalil.satu}}
        </p>
        <p style="text-indent: 45px; text-align: justify;">
          {{myroom.dalil.dua}}
        </p>
        <img src="{{site.url}}{{myroom.vector.sepuluh}}" style="border-radius: 50%;" alt="" class="img-responsive mt-3">
      </div>
    </div>
    
    <h1 class="underline mb-5 mt-2"></h1>

    <div class="row justify-content-center">
        <div class="col-md-6 col-xs-12 col-sm-12">
          <div class="polaroid">
            <img src="{{site.url}}{{myroom.vector.tiga}}" alt="" class="img-responsive mt-3">
              <div class="polaroid-body">
                  <h2>{{myroom.tags.tiga}}.</h2>
              </div>  
          </div>
        </div>
    </div>
  </div>
  
  <h1 class="underline mb-2 mt-2"></h1>


  
