
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-xs-12 col-sm-12">
        <h1 class="text-success text-center" style="font-family:Reey Regular;">Sang Pembeda</h1>
        <h4 class="text-center">Pilih Surah Quran</h4>
        <div class="input-group mb-3">
          <select class="custom-select" id="select-surah" name="surah">
              <!-- <option selected>Choose...</option> -->                       
          </select>
            <div class="input-group-append">
                <button id="pilih-surah" class="btn btn-dark">Enter</button>
            </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div style="width: 100%;" class="table-responsive">
            <table id="myTable" class="hover table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Number Surah</th>
                      <th>Number Ayah</th>
                      <th>Type</th>
                      <th>Place</th>
                      <th>Recitations</th>
                      <th>Verses</th>
                  </tr>
              </thead>
              <tbody id="result"> </tbody>	
            </table>
        </div>
      </div>

      <div style="width: 100%; height: auto !important; clear: both; text-align: center;" class="google-auto-placed">
      </div>

    </div>
  </div>

  <h1 class="underline mb-3 mt-3"></h1>

  <div class="container">
    <div class="row justify-content-start">
      <div class="col-md-4 col-xs-12 col-sm-12">
        <div class="polaroid">
          <img src="{{site.url}}{{myroom.vector.delapan}}" alt="" class="img-responsive mt-3">
            <div class="polaroid-body" id="jadwal-shalat">
                <h5 class="mt-2 mb-2 text-center text-dark" id="kota"></h5>
                <h6 class="mb-2 text-center text-danger" id="now"></h6>
                  <p id="tanggal" class="mb-3 underline text-success text-center"></p>
                <ul class="list-group list-group-flush" id="waktu-adzan">
                </ul>            
            </div>	
        </div>
      </div>

      <div class="col-md-6 col-xs-12 col-sm-12 mt-5 ml-5">
        <h1 class="underline text-center" style="font-family: 'Poiret One', cursive;">{{myroom.dalil.judul}}</h1>
        <p class="text-center" style="font-weight: 500;">
            {{myroom.dalil.satu}}
        </p>
        <p style="text-indent: 45px; text-align: justify;">
          {{myroom.dalil.dua}}
        </p>
        <img src="{{site.url}}{{myroom.vector.sepuluh}}" style="border-radius: 50%;" alt="" class="img-responsive mt-3">
      </div>
    </div>
    
    <h1 class="underline mb-5 mt-3"></h1>

    <div class="row justify-content-center">
        <div class="col-md-6 col-xs-12 col-sm-12">
          <div class="polaroid">
            <img src="{{site.url}}{{myroom.vector.tiga}}" alt="" class="img-responsive mt-3">
              <div class="polaroid-body">
                  <h2>{{myroom.tags.tiga}}.</h2>
              </div>	
          </div>
        </div>
    </div>
  </div>
  
  <h1 class="underline mb-2 mt-2"></h1>


  