    <audio id="myAudio" loop>
      <source src="{{site.url}}/assets/Night-sounds.mp3" type="audio/mpeg" >
    </audio>

    <ul id="day-mode">
            <input type="checkbox" id="day" name="day">
            <label for="day" id="day-label" class="mode-label">🌤</label>

            <!-- <div class="night-text" id="text-mode">Switch night</div> -->
    </ul>

    <ul id="night-mode">
            <input type="checkbox" id="night" name="night">
            <label for="night" id="night-label" class="mode-label">🌛</label>

<!--             <div class="day-text" id="text-mode">Switch day</div> -->
    </ul>