<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143329770-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143329770-1');
</script>

<!-- google adsense setup -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3504444534054185",
    enable_page_level_ads: true
  });
</script>

<script data-ad-client="ca-pub-3504444534054185" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>    
<script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
<!-- end google adsense  -->
<!-- ================================================================================================= -->

<!-- mailchimp and and tidio live chat -->
<script id="mcjs">
!function(c,h,i,m,p){
 m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)
 }
 (document,"script","https://chimpstatic.com/mcjs-connected/js/users/deb909933e83153f9fa33ad25/bbf1eefd660228921057b80bd.js");
</script>

<script src="//code.tidio.co/ufghizwydzu8qh5g3oufaaigdwznzclj.js" async></script>
<!-- mailchimp and and tidio live chat -->