/*===================================== */
$width: 250px;
$height: auto;
$overflow: hidden;
$position: relative;
$font-size: 15rem;
$color: #fff;
$width-thumb: 100%;
$position-thumb-hover: absolute;


.thumbnail {
	width: $width;
	height: $height;
	overflow: $overflow;
	position: $position;
	font-size:$font-size;
	color:#ffffff;
}
.thumbnail img {
	width: $width-thumb;
}
.thumbnail .thumb.hover {
	position: $position-thumb-hover;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.button {
	padding: .6em;
	opacity:0;
	border: .4px solid white;
	color: white;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	text-transform: uppercase;
	-webkit-transform: scale(0);
			transform: scale(0);	
			color:#ffffff;
}
/* animation */
.thumbnail:hover .thumb.hover {
	background-color: rgba(0, 1, 0, .4);
	color:#ffffff;
	font-size:25px;
}
.thumbnail:hover .button {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	color:#ffffff;
}
