---
layout: default
---
<div class="container">
<h1 class="font-weight-bold spanborder">{{ page.title }}</h1>
{% for myroom in site.myrooms %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{myroom.img_path}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{myroom.title}}</h5>
    <p class="card-text">
       {{ myroom.content | strip_html | strip_newlines | truncate: 156 }}
    </p>
 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{myroom.title}}">
  Look Here
</button>  
</div>

</div>


<!-- Modal -->
<div class="modal fade" id="{{myroom.title}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ myroom.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ myroom.content }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endfor %}
