---
layout: default
---


{% assign author = site.data.authors[myroom.author] %}
<!-- <script type="text/javascript">
let myroom = location.href;
  
if(myroom === "http://localhost:4000/myrooms"){
    let secret_number=Math.floor((Math.random() * 10) + 1); 
    let answer=prompt("Enter a number you want to try");

    while(secret_number!==Number(answer))
    {
      if(answer===null || answer = ""){
        break;
      }

      if(Number(answer)>secret_number){
        answer = prompt("This number is too high!");
      }else if(Number(answer)<secret_number){
        answer = prompt("This number is too low!");
      }else{
        alert("You got it!");
      }
    }
}

</script> -->
  <audio id="crowded" loop>
      <source src="{{site.url}}/assets/crowded.mp3" type="audio/mpeg" >
    </audio>

    <audio id="booring" loop>
      <source src="{{site.url}}/assets/booring.mp3" type="audio/mpeg" >
    </audio>
<!-- Modal -->
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Javascript Quiz</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="jawaban">Jawab Pertanyaan berikut <br/>
            <span class="text-primary"><b>0.15 * 29 / 100 = ? </b></span>
          </label>
          <input type="number" autocomplete="off" autofocus="on" class="form-control" id="jawaban" name="ask" placeholder="Isikan Jawaban Anda" autofocus>
          <small id="emailHelp" class="form-text text-muted">
            Isi jawaban tersebut dengan benar . <br/>
            Selamat menjawab
            <span class="text-danger">Jangan di cancel!</span>
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button id="submit" class="btn btn-primary">Jawab</button>
      </div>
    </div>
  </div>
</div>
<section class="wrapper-pricing">
    <div class="container-fostrap">
           
       <div>
            <img src="{{site.url}}/{{site.favicon}}" class="fostrap-logo"/>
            <h1 class="heading">
                Welcome in MyRoom
            </h1>
        </div><br/><br/>

        <div class="content-pricing">
            <div class="container">
                <div class="row">

{% for myroom in site.myrooms %}
                    <div class="col-xs-12 col-sm-4">
                        <div class="card-pricing">

                            <a class="img-card-pricing" href="{{site.url}}/{{myroom.img_path}}">
                            <img src="{{myroom.img_path}}" />
                          </a>
                            <div class="card-content-pricing">
                                <h4 class="card-title-pricing">
                                    <a href="" data-toggle="modal" data-target="#{{myroom.modal}}"> {{myroom.title}}
                                  </a>
                                </h4>
                                <p class="">
                                    {{ myroom.content | strip_html | strip_newlines | truncate: 156 }}
                                </p>
                            </div>
                            <div class="card-read-more-pricing">
                                <a href="" data-toggle="modal" data-target="#{{myroom.modal}}" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>

                        </div>
                    </div>

                    <!-- Modal -->
<div class="modal fade" id="{{myroom.modal}}" tabindex="-1" role="dialog" aria-labelledby="{{myroom.modal}}Title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{myroom.modal}}Title">{{ myroom.title }} <br/> 
          <span style="font-size:8px;" class="text-muted d-block mt-1">{{ myroom.date | date: '%d %B %Y' }} · {% include meta-read-time.html %} <br/> <b>by: {{ author.nama_lengkap }}</b></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <article class="article-post">
        {{ myroom.content }}
      {% if myroom.video_path %}
      <div class="embed-responsive embed-responsive-16by9">   
      <video controls="controls">
      <source type="video/mp4" src="{{myroom.video_path.vid1}}"></source>
      </video>
      </div>
      {% endif %}
      </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

                    
{% endfor %}         
                    
                </div>
            </div>
        </div>
    </div>
</section>

